<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card *ngFor="let receta of recetas" (click)="click(receta.idMeal)">
    <ion-card-header >
      <ion-card-title>{{receta.strMeal}}</ion-card-title>
      <ion-badge color="primary">
        Mexican Food
        <ion-icon name="flag-outline"></ion-icon>
      </ion-badge>
    </ion-card-header>
    <ion-img [src]="receta.strMealThumb"></ion-img>
  </ion-card>
  
</ion-content>